.App {
  text-align: center;
  
}
#App {
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#h3 {
  color: #fff;
 font-size: 30px;
}
#h2 {
  color: #fff;
  font-style: italic;
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 70px;
}



.App-link {
  color: #61dafb;
}


